<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="http:////ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css">

    <script>
    $(document).ready(function(){
    	$('#name').focus();
    });
    </script>
  </head>
  <body>

  	<div id="login" class="container">
      <h1>Enter Your Name</h1>
	    <form action="/login" method="post">
	    	<input type="text" id="name" name="name" placeholder="Your Name" />
	    	<input type="submit" value="Enter" class='btn btn-primary' />
	    </form>
	</div>
    
  </body>
</html>